<!-- styling link -->
<link rel="stylesheet" href="/css/booksStyle.css" />
<!-- ==============================body====================================== -->
<div class="container mt-5 mb-5 books-container">
  <h1>Books</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4 offset-1">
    <!-- card1s start -->
    <!--==========Hindi===========-->
    <a href="" target="_blank">
      <div class="card1">
        <img src="./card1Imgs/1img.png" />
        <div class="nameIcon1">
          <p class="card1-title">The Whole-Brain Child</p>
        </div>
        <p class="card1-info">
          12 Revolutionary Strategies to Nurture your Child's Mind
        </p>
        <p>DANIEL J.SIEGEL</p>
      </div>
    </a>
    <!--==========Telugu===========-->
    <a href="" target="_blank">
      <div class="card1">
        <img src="./card1Imgs/1img.png" />
        <div class="nameIcon1">
          <p class="card1-title">The Whole-Brain Child</p>
        </div>
        <p class="card1-info">
          12 Revolutionary Strategies to Nurture your Child's Mind
        </p>
        <p>DANIEL J.SIEGEL</p>
      </div>
    </a>
    <!--=========English============-->
    <a href="" target="_blank">
      <div class="card1">
        <img src="./card1Imgs/1img.png" />
        <div class="nameIcon1">
          <p class="card1-title">The Whole-Brain Child</p>
        </div>
        <p class="card1-info">
          12 Revolutionary Strategies to Nurture your Child's Mind
        </p>
        <p>DANIEL J.SIEGEL</p>
      </div>
    </a>
    <!--==========Maths===========-->
    <a href="" target="_blank">
      <div class="card1">
        <img src="./card1Imgs/1img.png" />
        <div class="nameIcon1">
          <p class="card1-title">The Whole-Brain Child</p>
        </div>
        <p class="card1-info">
          12 Revolutionary Strategies to Nurture your Child's Mind
        </p>
        <p>DANIEL J.SIEGEL</p>
      </div>
    </a>
    <!--==========Physics===========-->
    <a href="" target="_blank">
      <div class="card1">
        <img src="./card1Imgs/1img.png" />
        <div class="nameIcon1">
          <p class="card1-title">The Whole-Brain Child</p>
        </div>
        <p class="card1-info">
          12 Revolutionary Strategies to Nurture your Child's Mind
        </p>
        <p>DANIEL J.SIEGEL</p>
      </div>
    </a>
    <!--==========Biology===========-->
    <a href="" target="_blank">
      <div class="card1">
        <img src="./card1Imgs/1img.png" />
        <div class="nameIcon1">
          <p class="card1-title">The Whole-Brain Child</p>
        </div>
        <p class="card1-info">
          12 Revolutionary Strategies to Nurture your Child's Mind
        </p>
        <p>DANIEL J.SIEGEL</p>
      </div>
    </a>
    <!--==========Social===========-->
    <a href="" target="_blank">
      <div class="card1">
        <img src="./card1Imgs/1img.png" />
        <div class="nameIcon1">
          <p class="card1-title">The Whole-Brain Child</p>
        </div>
        <p class="card1-info">
          12 Revolutionary Strategies to Nurture your Child's Mind
        </p>
        <p>DANIEL J.SIEGEL</p>
      </div>
    </a>
    <!-- card1s ends -->
  </div>
</div>
<!-- --------------------card1 container ends------------------------- -->
