<!-- footer section starts -->
<footer id="footer">
  <div class="footer-container">
    <div id="div1"></div>
    <div id="div2">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#section-1">About Us</a></li>
        <li><a href="#section-3">Academics</a></li>
        <li><a href="#section-5">Gallery</a></li>
        <li><a href="/">Courses</a></li>
        <li><a href="#section-7">Contact Us</a></li>
      </ul>
    </div>
    <div id="div3" style="background-color: aliceblue">
      <p>Copyright &copy;2023; Zam Zam High School</p>
    </div>
  </div>
</footer>
