<!-- footer section starts -->
<footer id="footer">
  <div class="footer-container">
    <div id="div1">
      <!-- youtube -->
      <a href="https://youtube.com/@zamzamhighschool_misrigunj?si=VnEKX_Cperw7oiJ4" target="_blank">
        <div class="circle"><i class="fa-brands fa-youtube"></i></div>
      </a>
      <!-- instagram -->
      <a href="https://www.instagram.com/zamzamhighschool_official/"
         target="_blank"><div class="circle"><i class="fa-brands fa-instagram"></i></div
       target="_blank"></a>
       <!-- gmail -->
      <a href=""
        ><div class="circle"><i class="fa-brands fa-google-plus"></i></div
       target="_blank"></a>
      <!-- twitter -->
      <a href=""
        ><div class="circle"><i class="fa-brands fa-x-twitter"></i></div
       target="_blank"></a>
    </div>
    <!-- navigations -->
    <div id="div2">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#section-1">About Us</a></li>
        <li><a href="#section-3">Academics</a></li>
        <li><a href="#section-5">Gallery</a></li>
        <li><a href="/">Courses</a></li>
        <li><a href="#section-7">Contact Us</a></li>
      </ul>
    </div>
    <!-- copyright  -->
    <div id="div3">
      <p>Copyright &copy;2023, &nbsp;Zam Zam High School</p>
    </div>
  </div>
</footer>
