<!-- navabr --------------------------------------------------------------------->
<nav id="navbar">
  <!-- navbar logo -->
  <div id="nav-logo">
    <img src="pictures/zzl.png" alt="logo" />
  </div>
  <!-- nav-items -->
  <div id="nav-items">
    <ul id="nav-list">
      <li><a href="/">Home</a></li>
      <li><a href="#section-1">About Us</a></li>
      <li><a href="#section-3">Academics</a></li>
      <li><a href="#section-5">Gallery</a></li>
      <li><a href="/">Courses</a></li>
      <li><a href="#section-7">Contact Us</a></li>
    </ul>
  </div>
  <!-- nav-bot-icon -->
  <div id="nav-bot-icon">
    <a href="/bot">
      <img src="pictures/BOT.png" alt="bot-icon" />
    </a>
  </div>
</nav>
