<!-- navabr --------------------------------------------------------------------->
<nav id="navbar">
  <!-- navbar logo -->
  <div id="nav-logo">
    <img src="/pictures/zzl.png" alt="logo" />
  </div>
  <!-- nav-items -->
  <div id="nav-items">
    <ul id="nav-list">
      <li><a href="/">Home</a></li>
      <li><a href="#section-1">About Us</a></li>
      <li><a href="#section-3">Academics</a></li>
      <li><a href="#section-5">Gallery</a></li>
      <li><a href="/courses">Courses</a></li>
      <li><a href="#section-7">Contact Us</a></li>
    </ul>
    <!-- signup -->
    <div id="signup-login">
      <a href="/signup">
        <button class="signup-login-btn">signup</button>
      </a>
      <!-- login -->
      <% if(!currentUser){ %>
      <a href="/login">
        <button class="signup-login-btn">login</button>
      </a>
      <% } %>
      <!-- logout -->
      <% if(currentUser){ %>
      <a href="/logout">
        <button class="signup-login-btn">logout</button>
      </a>
      <% } %>
    </div>
  </div>
  <!-- nav-bot-icon -->
  <div id="nav-bot-icon">
    <a href="/bot">
      <img src="/pictures/BOT.png" alt="bot-icon" />
    </a>
  </div>
</nav>
