<style>
  /* Media query for Monitor (wide screens) */
@media only screen and (min-width: 1200px) {
  /* Styles for large monitors */

}

/* Media query for Laptops (15–16 inches, typical width range: 1366px to 1600px) */
@media only screen and (min-width: 1366px) and (max-width: 1600px) {
  /* Styles for 15–16 inch laptops */

}

/* Media query for Laptops without numeric pad (typical width: around 13–14 inches, width range: 1200px to 1365px) */
@media only screen and (min-width: 1200px) and (max-width: 1365px) {
  /* Styles for laptops without numeric pad */

}

/* Media query for Tablets (width range: 768px to 1024px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Styles for tablets */
  #nav-items ul li a {
  font-size: 12px;
  font-weight: 600;
}

.signup-login-btn {
  height: 25px;
  width: 60px;
  font-size: 12px;
  border-radius: 5px;
  margin-top: -10px;
  margin-right: 5px;
}
}

/* Media query for Mobile Phones (typical width: less than 768px) */
@media only screen and (max-width: 767px) {
  /* Styles for mobile phones */
  #navbar {
  height: 100px;
  width: 100vw;
  padding: 10px 10px;
}

  #nav-bot-icon{
    display: none;
  }

  #nav-logo img{
    height: 90px;
    width: 90px;
  }

  #mobile-bot-icon{
    display: block;
  }
}
</style>

<!-- ================================================ -->
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top" id="navbar" style="background-color: #82ad59;">
  <div class="container-fluid">
    <!-- navbar logo -->
    <div id="nav-logo">
      <img src="/pictures/zzl.png" alt="logo" />
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Dark offcanvas</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>

    <div class="offcanvas-body">
      <!-- nav-items -->
      <div id="nav-items">
        <ul id="nav-list" class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="#section-1">About Us</a></li>
          <li class="nav-item"><a class="nav-link" href="#section-3">Academics</a></li>
          <li class="nav-item"><a class="nav-link" href="#section-5">Gallery</a></li>
          <li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
          <li class="nav-item"><a class="nav-link" href="#section-7">Contact Us</a></li>
        </ul>
        <!-- signup -->
        <div id="signup-login">
          <a href="/signup">
            <button class="signup-login-btn">signup</button>
          </a>
          <!-- login -->
          <% if(!currentUser){ %>
          <a href="/login">
            <button class="signup-login-btn">login</button>
          </a>
          <% } %>
          <!-- logout -->
          <% if(currentUser){ %>
          <a href="/logout">
            <button class="signup-login-btn">logout</button>
          </a>
          <% } %>
        </div>
      </div>
      <!-- right elements -->
      <div class="navbar-nav ms-auto" id="nav-bot-icon">
        <a href="/bot">
          <img src="/pictures/BOT.png" alt="bot-icon" />
        </a>
      </div>
    </div>
  </div>
</nav>
