<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- css link -->
    <link rel="stylesheet" href="css/index.css" />
    <!-- link for slider -->
    <link rel="stylesheet" href="css/slider.css" />
    <!-- title logo -->
    <link rel="icon" href="pictures/zzl.png" />
    <!-- tab title -->
    <title>Zam Zam High School</title>
  </head>
  <body>
    <!-- ====navber===== -->
    <%- include("../includes/navbar.ejs") %>
    <!-- =====body======= -->
    <%- body %>
    <!-- =========footer======= -->
    <%- include("../includes/footer.ejs") %>
  </body>
</html>
