<% layout("/layouts/boilerplate.ejs") %>
<style>
  .error-tab {
    margin-top: 70px;
    margin-bottom: 75px;
  }
</style>
<body>
  <div class="row error-tab">
    <div class="alert alert-danger col-6 offset-3" role="alert">
      <p><%= message %></p>
    </div>
  </div>
</body>
