<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- css link -->
    <link rel="stylesheet" href="css/index.css" />
    <!-- tab title -->
    <title>Zam Zam High School</title>
  </head>
  <body>
    <!-- main section -------------------------------->
    <main class="main">
      <!-- navabr --------------------------------------------------------------------->
      <nav id="navbar">
        <!-- navbar logo -->
        <div id="nav-logo">
          <img src="pictures/zzl.png" alt="logo" />
        </div>
        <!-- nav-items -->
        <div id="nav-items">
          <ul id="nav-list">
            <li><a href="/">Home</a></li>
            <li><a href="#section-1">About Us</a></li>
            <li><a href="/">Academics</a></li>
            <li><a href="/">Gallery</a></li>
            <li><a href="/">Courses</a></li>
            <li><a href="/">Contact Us</a></li>
          </ul>
        </div>
        <!-- nav-bot-icon -->
        <div id="nav-bot-icon">
          <img src="pictures/BOT.png" alt="bot-icon" />
        </div>
      </nav>

      <!-- main index view -------------------------------------------------------------->
      <div class="main-index">
        <div id="main-img-div"></div>
        <!-- shadow circle image -->
        <img
          id="Circle-below-logo"
          src="pictures/Circle-below-logo.png"
          alt="" />

        <div id="main-text-div">
          <!-- <button>&lt;</button> -->
          <h1>SHAPING YOUR CHILD FUTURE</h1>
          <!-- <button>&gt;</button> -->
        </div>
      </div>
    </main>

    <!-- section 1------------------------------- -->
    <div id="section-1">
      <!-- left section -->
      <div id="left">
        <h1>About Us</h1>
        <div class="content">
          <iframe
            width="100%"
            height="100%"
            src="https://www.youtube.com/embed/uqrdc4FfBic?si=_iWnepUhCr3qPRBc"
            title="YouTube video player"
            frameborder="10"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen></iframe>
        </div>

        <div id="left-down">
          <img src="pictures/zzl.png" alt="" />

          <a
            href="https://youtube.com/@zamzamhighschool_misrigunj?si=VnEKX_Cperw7oiJ4"
            target="_blank"
            ><button class="btn">View Channel</button></a
          >
        </div>
      </div>
      <!-- right section -->
      <div id="right">
        <div id="green-circle"></div>
        <div class="sec1-text">
          <h3>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam
            dignissimos quibusdam tempore, corporis autem nemo labore? Labore
            nisi, fuga debitis commodi earum consequatur, tenetur repudiandae,
            error libero modi quasi voluptates! Animi optio neque similique
            labore nisi dolorum repudiandae dolore blanditiis nihil deleniti
            praesentium expedita, quae nam earum totam? Iusto rem accusamus quam
            fugit, ducimus rerum nisi temporibus neque quo assumenda? Possimus,
            libero voluptas vero fugiat vel eaque? Sunt hic illum perspiciatis
            laboriosam reprehenderit officiis dolor velit sapiente expedita
            dolore. Omnis laboriosam culpa perferendis deleniti aspernatur!
            Placeat aspernatur quasi reiciendis molestiae? Non asperiores
            tempora iste dolorum tempore, incidunt, repellendus quod alias
            doloremque officiis, facere ullam reprehenderit debitis modi
            adipisci
          </h3>
          <button class="learn-moreBtn">Learn more &gt;</button>
        </div>
      </div>
    </div>
  </body>
</html>
