<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- css link -->
    <link rel="stylesheet" href="css/index.css" />
    <!-- tab title -->
    <title>Zam Zam High School</title>
  </head>
  <body>
    <!-- main section -------------------------------->
    <main class="main">
      <!-- navabr --------------------------------------------------------------------->
      <nav id="navbar">
        <!-- navbar logo -->
        <div id="nav-logo">
          <img src="pictures/zzl.png" alt="logo" />
        </div>
        <!-- nav-items -->
        <div id="nav-items">
          <ul id="nav-list">
            <li><a href="/">Home</a></li>
            <li><a href="/">About Us</a></li>
            <li><a href="/">Academics</a></li>
            <li><a href="/">Gallery</a></li>
            <li><a href="/">Courses</a></li>
            <li><a href="/">Contact Us</a></li>
          </ul>
        </div>
        <!-- nav-bot-icon -->
        <div id="nav-bot-icon">
          <img src="pictures/BOT.png" alt="bot-icon" />
        </div>
      </nav>

      <!-- main index view -------------------------------------------------------------->
      <div class="main-index">
        <div id="main-img-div"></div>
        <!-- shadow circle image -->
        <img
          id="Circle-below-logo"
          src="pictures/Circle-below-logo.png"
          alt="" />

        <div id="main-text-div">
          <!-- <button>&lt;</button> -->
          <h1>SHAPING YOUR CHILD FUTURE</h1>
          <!-- <button>&gt;</button> -->
        </div>
      </div>
    </main>

    <!-- section 1------------------------------- -->
  </body>
</html>
