* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
}

/* disable click  */
.lock {
  pointer-events: none;
}

/* sidebar================================================================================ */
.sideBar {
  height: 100vh;
  width: 30vw;
  background-color: rgb(13, 13, 13);
}
.top {
  height: 7%;
  width: 100%;
  /* padding: 1rem; */
  background-color: rgb(40, 40, 40);
}
.top a {
  text-decoration: none;
}
.top a p {
  height: 100%;
  margin: 0 0 0 1rem;
  display: flex;
  align-items: center;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.heading {
  height: 13%;
  background-color: rgb(23, 23, 23);
  display: flex;
  align-items: center;
  margin: 0 0 0.5rem 0;
}
.heading h2 {
  color: white;
  margin: 0 0 0 1rem;
}

/* dropdown==================================== */
.dropdown {
  padding: 0.25rem;
  height: 77%;
  overflow-y: auto; /* Ensure scrolling is enabled */
  scroll-behavior: smooth;
}

li {
  display: flex !important;
  justify-content: space-between;
  cursor: pointer;
  text-decoration: none;
}

.sub-list-a {
  text-decoration: none;
  color: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.active {
  background-color: #82ad59 !important;
  border: 1px solid #82ad59 !important;
}

/*==========================video player=================================== */
.vid-frame {
  height: 100%;
  width: 100%;
}

/* Hides the watch later, share button, and video suggestions */
#player iframe {
  pointer-events: none;
}
#player {
  pointer-events: none;
}

.ytp-chrome-top,  /* Hides the top controls */
.ytp-share-button, /* Hides the share button */
.ytp-watch-later-button, /* Hides the watch later button */
.ytp-title, /* Hides the video title */
.ytp-endscreen-content  /* Hides related videos */ {
  display: none !important;
}

/**************************************custom buttons***********************************************/
/* /* Ensure the video container is positioned relative */
.videoPlayer {
  position: relative;
  height: 100vh;
  width: 70vw;
  padding: 0.5rem;
  background-color: rgb(0, 0, 0);
}

/* ------------------custom controls------------------------ */
.custom-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: rgba(0, 0, 0, 0.6); Semi-transparent background */
  background: rgba(0, 0, 0);
  padding: 10px;
}

/* Play/Pause and Fullscreen Buttons Styling */
#playPauseBtn,
#fullscreenBtn {
  padding: 10px 20px;
  background-color: #82ad59;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

#playPauseBtn:hover {
  background-color: #32580e;
}
#fullscreenBtn:hover {
  background-color: #32580e;
}

/* Progress bar styling */
.progress-bar {
  flex-grow: 1;
  margin: 0 0;
  height: 10px;
  cursor: pointer;
}

/* Additional styles for responsiveness */
.videoPlayer iframe {
  width: 100%;
  height: 100%;
}

#currentTime,
#totalTime {
  color: white;
}

/* ================Responsive index.css=============================================== */
/****************** Media query for iPhone & samsung(typical width: less than 392px) */
@media only screen and (min-width: 360px) and (max-width: 720px) {
  /* Styles for  iphone 12 & samsung*/
  .main-container {
    display: flex;
    flex-direction: column-reverse;
  }
  /* sidebar======================================= */
  .sideBar {
    height: 90vh;
    width: 100vw;
  }
  /* video player=============================== */
  .videoPlayer {
    position: relative;
    height: 50vh;
    width: 100vw;
    padding: 0.5rem;
  }
  /* Play/Pause and Fullscreen Buttons Styling */
  #playPauseBtn,
  #fullscreenBtn {
    padding: 5px 12px;
    font-size: 16px;
  }
}
