* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/***********back to top ********************/
.hidden {
  visibility: hidden;
}

.back-top-wrap {
  position: fixed;
  bottom: 5rem;
  right: 1rem;
  background-color: #82ad59;
  padding: 1rem 1.3rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  z-index: 100;
}

.back-top-wrap:hover {
  background-color: #27410f;
  color: white;
}

.back-top-wrap:hover .fas.fa-arrow-up {
  color: white;
}

.fas.fa-arrow-up {
  color: #27410f;
  transition: 0.3s ease-in-out;
}
/***********back to top end********************/

/******************** styling scroll bar ****************************/
::-webkit-scrollbar {
  background: transparent;
  width: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: #27410f;
  border-radius: 10px;
  transition: background-color 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #82ad59;
}

html {
  overflow-y: overlay;
}

.loading-wrapper {
  background-color: white;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 250;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #loading {
  z-index: 251;
  width: 20rem;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
} */

/* ===========loader end================== */

/***********bot button ********************/
.bot-btn {
  display: none;
  height: 55px;
  width: 60px;
  position: fixed;
  bottom: 5rem;
  right: 1rem;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
}
.bot-btn img {
  height: 70px;
  width: 60px;
  animation: bot 1s ease-in-out 3; /* 3s duration, ease-in-out timing, play 1 time */
  transition: 0.5s ease-in-out;
}

@keyframes bot {
  from {
    transform: rotate3d(0, 0, 0, 0deg); /* Start with no rotation */
  }
  to {
    transform: rotate3d(0, 1, 0, 360deg); /* Complete a 360-degree spin */
  }
}

/***********bot button end********************/

body {
  background-color: black;
}

.btn {
  background-color: #82ad59;
  box-shadow: 4px 4px 10px 4px #a6b895ce;
  border: none;
  height: 40px;
  width: 120px;
  border-radius: 5px;
}

/* main div ========================================================*/

/* navbar--------------- */
#navbar {
  display: flex;
  justify-content: space-evenly !important;
  align-items: center;
  background-color: #82ad59;
  height: 120px;
  width: 100vw;
  padding: 10px 20px;
  border: none !important;
  box-shadow: 0 0.1rem 1rem 0.2rem rgb(0, 0, 0);
}

.navbar-toggler {
  background-color: #82ad59;
}

#nav-logo img {
  height: 120px;
  width: 120px;
}

#nav-bot-icon {
  height: 150px;
  width: 150px;
}
#nav-bot-icon img {
  height: 100%;
  width: 100%;
  margin-top: 25px;
}

#nav-bot-icon img:hover {
  animation: shake 0.5s ease-in-out infinite;
}

/* Keyframes for shaking */
@keyframes shake {
  0%,
  100% {
    transform: translateX(0); /* Initial and final position */
  }
  25% {
    transform: translateX(-5px); /* Move left */
  }
  50% {
    transform: translateX(5px); /* Move right */
  }
  75% {
    transform: translateX(-5px); /* Move left again */
  }
}

#nav-items {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-items ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
#nav-items ul li {
  list-style: none;
  z-index: 5;
}
#nav-items ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

/* main index view ====================================================*/
.main {
  height: 82vh;
  width: 100vw;
}
.carousel-btn {
  z-index: 20 !important;
  /* background-color: black !important; */
}

.carousel {
  height: 80vh;
  width: 100vw;
}

.carousel-caption {
  color: rgb(255, 255, 255);
  font-size: 2rem;
}

.carousel-item img {
  height: 82vh;
}

/* Circle-below-logo */
#Circle-below-logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

/* section 1 About Us======================================================= */
/* left---------- */
#section-1 {
  background-color: white;
  height: 110vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

#left {
  padding: 60px;
  width: 40%;
  height: 100%;
}

#left h1 {
  margin: 0px 0px 30px 0px;
  font-size: 50px;
}

#viewbtn .btn {
  width: 200px;
  margin: 30px 0 0 100px;
}
.content {
  width: 450px;
  height: 250px;
}

/* left-down */
#left-down {
  margin-top: 20px;
  width: 500px;
  height: 281px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#left-down {
  width: 450px;
  height: 250px;
}

#left-down a .btn {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 300;
}
/* right--------------- */
#right {
  padding: 40px 40px 0 0;
  width: 60%;
  height: 100%;
}

.sec1-text h3 {
  margin-top: 20px;
  padding: 30px 30px 0 0;
  font-size: 30px;
  font-weight: 500;
  z-index: 2;
  text-align: justify;
}

/* section 2 image========================================================= */
#section-2 {
  height: 100vh;
  width: 100vw;
}

#section-2 img {
  height: 100%;
  width: 100%;
}

/* section 3 Academics========================================================= */
#section-3 {
  background-color: white;
  height: 110vh;
  width: 100vw;
}

#sec3-green-circle {
  height: 700px;
  width: 700px;
  position: absolute;
  top: 2250px;
  left: 0;
}

#sec3-green-circle img {
  height: 800px;
  width: 700px;
}

.sec3-h1 {
  display: flex;
  height: 135px;
  align-items: center;
}

.sec3-h1 h1 {
  font-size: 50px;
  margin-top: 100px;
  margin-left: 70px;
}

.sec3-text h3 {
  margin: 0px 0px 0px 20px;
  padding: 60px;
  font-size: 30px;
  font-weight: 500;
  text-align: justify;
}

/* section 4 image=========image================================================ */
#section-4 {
  height: 100vh;
  width: 100vw;
}

#section-4 img {
  height: 100%;
  width: 100%;
}

/* section 5 Gallery ==================================================*/
/* section 5 style code is in slider.css file */

/*================section-6 testimonials==================*/
#section-6 {
  background-color: white;
  min-height: 100vh;
  width: 100vw;
}

.sec6-h1 {
  display: flex;
  height: 100px;
  align-items: center;
}

.sec6-h1 h1 {
  font-size: 50px;
  margin-top: 30px;
  margin-left: 50px;
}

.sec6-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.sec6-cards {
  height: 450px;
  width: 400px;
  background: #82ad59;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}

.sec6-cards .pic {
  height: 200px;
  width: 200px;
}
.sec6-cards .pic img {
  height: 200px;
  width: 200px;
  border: 5px solid black;
  border-radius: 100%;
}
.sec6-cards .text {
  padding: 0px 20px 0px 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

/* section 7 contact us form ========================================================== */
#section-7 {
  background: url("../pictures/Contact-us.png") no-repeat center center/cover;
  height: 100vh;
  width: 100vw;
  margin-top: 0;
}
.sec7-h1 {
  display: flex;
  height: 100px;
  align-items: center;
}

.sec7-h1 h1 {
  font-size: 50px;
  margin-top: 70px;
  margin-left: 70px;
  color: white;
}

#form-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin-top: 50px;
}

#form-div form {
  border: 5px solid white;
  background: rgba(0, 0, 0, 0.546);
  color: white;
  height: 70vh;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  padding: 30px;
  font-size: 30px;
}

.form-input {
  display: flex;
  align-items: center;
  height: 80px;
}
.form-input input {
  font-size: 30px;
  color: white;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  width: 70%;
  margin-left: 25px;
}

.form-input textarea {
  font-size: 30px;
  color: white;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  width: 70%;
  margin-left: 25px;
  margin-bottom: 20px;
}

.form-btn {
  height: 60px;
  width: 200px;
  background-color: white;
  border: 3px solid black;
  border-radius: 10px;
  color: black;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin: auto;
}

/* ============================footer============================ */
footer {
  background-color: rgb(21, 21, 21);
  height: 40vh;
  width: 100vw;
}

.footer-container {
  height: 100%;
}
/* div1-------*/
#div1 {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#div1 a {
  text-decoration: none;
}
.circle {
  height: 50px;
  width: 50px;
  margin: 0px 20px 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: white;
}
.circle i {
  font-size: 30px;
  color: rgb(0, 0, 0);
}
/* div2-------- */
#div2 {
  height: 25%;
}
#div2 ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
#div2 ul li {
  list-style: none;
  margin: 0px 20px 0px 20px;
}
#div2 ul li a {
  color: white;
  font-size: 20px;
}
/* div3-------- */
#div3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
  color: white;
  background-color: black;
  font-size: 20px;
}

/* ================Responsive index.css=============================================== */
/* ***************************************************************** */
/* Media query for Monitor (wide screens) */
@media only screen and (min-width: 1200px) {
  /* Styles for large monitors */
  /* ====================section 1 About Us========= */
}

/* Media query for Laptops (15–16 inches, typical width range: 1366px to 1600px) */
@media only screen and (min-width: 1366px) and (max-width: 1600px) {
  /* Styles for 15–16 inch laptops */
  /* ====================section 1 About Us========= */
}

/* Media query for Laptops without numeric pad (typical width: around 13–14 inches, width range: 1200px to 1365px) */
@media only screen and (min-width: 1200px) and (max-width: 1365px) {
  /* Styles for laptops without numeric pad */
  /* ====================section 1 About Us========= */
  /* left---------- */
  #section-1 {
    height: 700px;
  }
  #left {
    padding: 70px;
  }

  #left h1 {
    margin: 0px 0px 30px 0px;
    font-size: 40px;
  }
  .content {
    width: 400px;
    height: 200px;
  }

  /* left-down */
  #left-down {
    margin-top: 40px;
    width: 400px;
    height: 200px;
  }

  #left-down img {
    width: 200px;
    height: 200px;
  }

  .sec1-text h3 {
    margin-top: 20px;
    padding: 10px;
    font-size: 25px;
    font-weight: 500;
    z-index: 2;
  }

  /* *******************section 1 end*************************  */
  /* section 3 Academics========================================================= */
  #section-3 {
    height: 700px;
  }

  .sec3-h1 h1 {
    font-size: 50px;
    margin-top: 100px;
    margin-left: 70px;
  }

  .sec3-text h3 {
    margin: 0px 0px 0px 12px;
    padding: 60px;
    font-size: 30px;
  }
  /*========section 3 Academics end =================================*/
  /* section 4 image=========image================================================ */
  #section-4 {
    height: 700px;
    width: 100vw;
  }
  /* section 4 image end========================================================= */
  /*================section-6 testimonials==================*/
  #section-6 {
    height: 1100px;
  }
  /*================section-6 testimonials ends==================*/
  /* section 7 contact us form ========================================================== */
  #section-7 {
    height: 650px;
    width: 100vw;
    margin-top: 0;
  }

  .sec7-h1 {
    height: 80px;
  }

  .sec7-h1 h1 {
    font-size: 45px;
  }

  #form-div {
    height: 400px;
    margin-top: 50px;
  }

  #form-div form {
    height: 400px;
    width: 60%;
    border-radius: 20px;
    padding: 30px;
    font-size: 30px;
  }

  .form-input input {
    font-size: 25px;
    width: 70%;
  }
  .form-input textarea {
    font-size: 25px;
  }
  .form-btn {
    height: 60px;
    width: 200px;
    border-radius: 10px;
    font-size: 25px;
  }
  /* section 7 contact us form  end========================================================== */
  /* ============================footer============================ */
  .circle {
    height: 40px;
    width: 40px;
  }
  .circle i {
    font-size: 25px;
  }
  /* div2-------- */
  #div2 ul li a {
    font-size: 17px;
  }
  #div3 {
    font-size: 15px;
  }
  /* ============================footer end============================ */
}

/* Media query for Tablets (width range: 768px to 1024px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Styles for tablets */
  /* ====================section 1 About Us========= */
  /* left---------- */
  #left {
    padding: 70px;
  }

  #left h1 {
    margin: 0px 0px 30px 0px;
    font-size: 40px;
  }
  .content {
    width: 300px;
    height: 200px;
  }

  /* left-down */
  #left-down {
    margin-top: 20px;
    width: 300px;
    height: 200px;
  }

  #left-down img {
    width: 150px;
    height: 150px;
  }
  .sec1-text h3 {
    margin-top: 70px;
    padding: 30px 10px 0 60px;
    font-size: 18px;
    font-weight: 500;
    z-index: 12;
  }

  #viewbtn .btn {
    width: 200px;
    margin: 30px 0 0 50px;
  }
  /* *******************section 1 end*************************  */
  /*===================section 2 image========================*/
  #section-2 {
    height: 100vh;
    width: 100vw;
  }
  /*===================section 2 image end========================*/
  /* section 3 Academics========================================================= */
  #section-3 {
    height: 550px;
  }
  .sec3-h1 h1 {
    font-size: 50px;
    margin-top: 100px;
    margin-left: 70px;
  }

  .sec3-text h3 {
    margin: 0px 0px 0px 20px;
    padding: 40px;
    font-size: 23px;
  }
  /*========section 3 Academics end =================================*/
  /* section 4 image=========image================================================ */
  #section-4 {
    height: 700px;
    width: 100vw;
  }
  /* section 4 image end========================================================= */
  /*================section-6 testimonials==================*/
  #section-6 {
    height: 1000px;
  }
  .sec6-cards {
    height: 350px;
    width: 300px;
    border-radius: 30px;
    margin: 10px;
  }

  .sec6-cards .pic {
    height: 150px;
    width: 150px;
  }

  .sec6-cards .pic img {
    height: 150px;
    width: 150px;
  }

  .sec6-cards .text {
    font-size: 17px;
  }
  /*================section-6 testimonials ends==================*/
  /* section 7 contact us form ========================================================== */
  #section-7 {
    height: 650px;
    width: 100vw;
    margin-top: 0;
  }

  .sec7-h1 {
    height: 80px;
  }

  .sec7-h1 h1 {
    font-size: 45px;
  }

  #form-div {
    height: 400px;
    margin-top: 50px;
  }

  #form-div form {
    height: 400px;
    width: 80%;
    border-radius: 20px;
    padding: 30px;
    font-size: 25px;
  }

  .form-input input {
    font-size: 25px;
    width: 70%;
  }
  .form-input textarea {
    font-size: 25px;
  }
  .form-btn {
    height: 60px;
    width: 200px;
    border-radius: 10px;
    font-size: 25px;
  }
  /* section 7 contact us form  end========================================================== */
  /* ============================footer============================ */
  .circle {
    height: 40px;
    width: 40px;
  }
  .circle i {
    font-size: 25px;
  }
  /* div2-------- */
  #div2 ul li a {
    font-size: 17px;
  }
  #div3 {
    font-size: 15px;
  }
  /* ============================footer end============================ */
}

/****************** Media query for iPhone & samsung(typical width: less than 392px) */
@media only screen and (min-width: 360px) and (max-width: 720px) {
  /* Styles for  iphone 12 & samsung*/
  /* ====================section 1 About Us========= */
  /* left---------- */
  #section-1 {
    height: 1100px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  #left {
    width: 100%;
    height: 50%;
  }

  #left h1 {
    margin: 0px 0px 30px 0px;
    font-size: 40px;
  }
  .content {
    width: 300px;
    height: 200px;
    margin-bottom: 30px;
  }

  #viewbtn .btn {
    margin: 20px 0 0 50px;
  }

  /* left-down */
  #left-down {
    margin-top: 0;
    width: 300px;
    height: 200px;
  }

  #left-down img {
    width: 150px;
    height: 150px;
  }

  /* right--------------- */
  #right {
    padding: 30px;
    width: 100%;
    height: 50%;
  }
  .sec1-text h3 {
    margin-top: 60px;
    padding: 20px;
    font-size: 15px;
    font-weight: 500;
    z-index: 12;
  }

  /* *******************section 1 end*************************  */
  /*===================section 2 image========================*/
  #section-2 {
    height: 600px;
    width: 100vw;
  }
  /*===================section 2 image end========================*/
  /* section 3 Academics========================================================= */
  #section-3 {
    height: 700px;
  }
  .sec3-h1 {
    height: 80px;
  }
  .sec3-h1 h1 {
    font-size: 35px;
    margin-top: 40px;
    margin-left: 30px;
  }

  .sec3-text h3 {
    margin: 0px 0px 0px 0px;
    padding: 18px;
    font-size: 19px;
  }
  /*========section 3 Academics end =================================*/
  /* section 4 image=========image================================================ */
  #section-4 {
    height: 600px;
    width: 100vw;
  }
  /* section 4 image end========================================================= */
  /*================section-6 testimonials==================*/
  #section-6 {
    height: 1300px;
  }
  .sec6-cards {
    height: 350px;
    width: 300px;
    border-radius: 30px;
    margin: 10px;
  }

  .sec6-cards .pic {
    height: 150px;
    width: 150px;
  }

  .sec6-cards .pic img {
    height: 150px;
    width: 150px;
  }

  .sec6-cards .text {
    font-size: 17px;
  }
  /*================section-6 testimonials ends==================*/
  /* section 7 contact us form ========================================================== */
  #section-7 {
    height: 700px;
    width: 100vw;
    margin-top: 0;
  }

  .sec7-h1 {
    height: 80px;
  }

  .sec7-h1 h1 {
    font-size: 40px;
  }

  #form-div {
    height: 500px;
    margin-top: 50px;
  }

  #form-div form {
    height: 500px;
    width: 90%;
    border-radius: 20px;
    padding: 30px;
    font-size: 18px;
  }

  .form-input input {
    font-size: 25px;
    width: 70%;
  }
  .form-input textarea {
    font-size: 25px;
  }
  .form-input .form-btn {
    height: 35px;
    width: 100px;
    border-radius: 10px;
    font-size: 18px;
  }
  /* section 7 contact us form  end========================================================== */
  /* ============================footer============================ */
  .circle {
    height: 40px;
    width: 40px;
  }
  .circle i {
    font-size: 25px;
  }
  /* div2-------- */
  #div2 ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #div2 ul li a {
    font-size: 15px;
  }
  #div3 {
    font-size: 15px;
  }
  /* ============================footer end============================ */
  /* backto to top  */
  .back-top-wrap {
    bottom: 10rem;
  }
  /* backto to top end */
  /***********bot button ********************/
  .bot-btn {
    display: block;
  }
  /***********bot button end********************/
}
