* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
body {
  background-color: black;
}

.btn {
  background-color: #82ad59;
  border: none;
  height: 40px;
  width: 120px;
  border-radius: 5px;
}

/* main div ========================================================*/

/* navbar--------------- */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #82ad59;
  height: 190px;
  padding: 10px 20px;
}

#nav-logo img {
  height: 180px;
  width: 180px;
}

#nav-bot-icon {
  height: 190px;
}
#nav-bot-icon img {
  height: 220px;
  width: 180px;
  margin-top: 30px;
}

#nav-items {
  width: 70%;
  margin-top: 20px;
}

#nav-items ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
#nav-items ul li {
  list-style: none;
  z-index: 5;
}
#nav-items ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

/* main index view */
.main-index {
  height: 98vh;
  width: 100%;
  margin-bottom: 0px;
}

#main-img-div {
  /* background-color: black; */
  height: 100vh;
  width: 100%;
}

#main-img-div::before {
  content: "";
  background: url("../pictures/P1-s.png") no-repeat center center/cover;
  position: absolute;
  top: 190px;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.4;
}

/* Circle-below-logo */
#Circle-below-logo {
  position: absolute;
  top: 0;
  left: 0;
}

/* main text */
#main-text-div {
  color: white;
  position: absolute;
  top: 500px;
  left: 240px;
}

#main-text-div h1 {
  color: white;
  font-size: 70px;
  font-weight: 300;
}

/* section 1 ======================================================= */
/* left---------- */
#section-1 {
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

#left {
  padding: 60px;
  width: 40%;
  height: 100%;
}

#left h1 {
  margin: 0px 0px 30px 0px;
  font-size: 50px;
}
.content {
  width: 500px;
  height: 281px;
}

/* left-down */
#left-down {
  margin-top: 20px;
  width: 500px;
  height: 281px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#left-down img {
  width: 300px;
  height: 300px;
}

#left-down a .btn {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 300;
}
/* right--------------- */
#right {
  padding: 40px;
  width: 60%;
  height: 100%;
}
#green-circle {
  background: url("../pictures/Overall-Site-circle.png") no-repeat center
    center/cover;
  height: 1200px;
  width: 800px;
  position: absolute;
  top: 400px;
  right: 0;
}

.sec1-text h3 {
  margin-top: 20px;
  padding: 10px;
  font-size: 30px;
  font-weight: 500;
  z-index: 2;
}

.learn-moreBtn {
  height: 60px;
  width: 200px;
  background-color: white;
  border: 3px solid black;
  border-radius: 10px;
  color: black;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-left: 550px;
}
