* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#signup-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#signup-login a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 300;
}

.signup-login-btn {
  color: white;
  background-color: #2e540a;
  /* box-shadow: 4px 4px 10px 4px #a6b895ce; */
  border: none;
  height: 30px;
  width: 70px;
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 5px;
}

/* ===========signup login div============================ */
.main-sign-login-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.form-div {
  height: 100vh;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-div form {
  width: 70%;
}
.form-div form label {
  font-size: 20px;
}
.form-div form h1 {
  font-size: 4rem;
  color: #0f1f00;
}

.illustration {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 40%;
}
.illustration img {
  height: 600px;
  width: 600px;
}

.form-btn {
  color: white;
  background-color: #2e540a;
  box-shadow: 3px 3px 8px 2px #242424ce;
  border: none;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  margin-top: 5px;
}
.form-btn:hover {
  background-color: #101c04;
}

/* Media Queries for responsiveness ==========================*/
/*****************Responsive********************************/
/* Media query for Tablets (width range: 768px to 1024px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Styles for tablets */
  /* ===========signup login div============================ */
  .illustration img {
    height: 400px;
    width: 400px;
  }

  .form-btn {
    height: 35px;
    width: 90px;
  }
}

/* Media query for iPhone 12 & samsung(typical width: less than 392px) */
@media only screen and (min-width: 360px) and (max-width: 720px) {
  /* ===========signup login div============================ */
  .main-sign-login-div {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .form-div {
    height: 40%;
    width: 100%;
    margin-bottom: 5rem;
  }

  .login-form-div {
    margin: 0 0 9rem 0;
  }

  .form-div form h1 {
    font-size: 2.5rem;
  }

  .illustration {
    height: 40%;
    width: 100%;
    margin-top: 2rem;
  }

  .login-illustration {
    margin: 4rem 0 3rem 0;
  }

  .illustration img {
    height: 350px;
    width: 350px;
  }

  .form-btn {
    height: 35px;
    width: 90px;
  }
}
