/* section 5 Gallery ================================================== */
#section-5 {
  width: 100vw;
  height: 150vh;
  overflow: hidden;
  background: white;
}

.sec5-h1 {
  display: flex;
  height: 150px;
  align-items: center;
}

.sec5-h1 h1 {
  font-size: 50px;
  margin-top: 185px;
  margin-left: 70px;
}

#sec5-green-circle {
  background: url("../pictures/Overall-Site-circle.png") no-repeat center center/cover;
  height: 1000px;
  width: 600px;
  position: absolute;
  top: 4100px;
  right: 0;
}

/* Updated slider ======================================== */
.container {
  max-width: 1024px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  animation: scroll 20s ease-in-out infinite;
}

.slide_div img {
  flex-shrink: 0;
  width: 350px;
  height: 250px;
  object-fit: cover;
  border: 3px solid white;
  border-radius: 20px;
}

@keyframes scroll {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(-100%, 0, 0);
  }
}

/* Optional: Adjust button hover effect for interactive feeling */
.button {
  position: absolute;
  width: 350px;
  height: 250px;
  transition: 0.7s;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
