/* section 5 Gallery ================================================== */
#section-5 {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: white;
}

.sec5-h1 {
  display: flex;
  height: 130px;
  align-items: center;
}

.sec5-h1 h1 {
  font-size: 50px;
  margin-top: 185px;
  margin-left: 70px;
}

#sec5-green-circle {
  height: 800px;
  width: 500px;
  position: absolute;
  top: 3800px;
  right: 0;
  z-index: 0;
}
#sec5-green-circle img {
  height: 800px;
  width: 500px;
}

/* Updated slider ======================================== */
.container {
  position: relative;
  top: 10rem;
  max-width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.imgContainer {
  display: flex;
  animation: scroll 20s ease-in-out infinite;
  transition: transform 0.5s ease;
}

/* Keyframes for sliding effect */
@keyframes scroll {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-40%);
  }
}

/* Styling the images */
.slide_div img {
  width: 350px;
  height: 250px;
  object-fit: cover;
  border: 1px solid white;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.imgContainer.stopped {
  animation-play-state: paused;
}

.enlarged {
  transform: scale(1.5);
  z-index: 10;
  position: relative;
}

/* Media Queries for responsiveness ==========================*/
/*****************Responsive********************************/
/* Media query for Monitor (wide screens) */
@media only screen and (min-width: 1200px) {
  /* Styles for large monitors */
}

/* Media query for Laptops (15–16 inches, typical width range: 1366px to 1600px) */
@media only screen and (min-width: 1366px) and (max-width: 1600px) {
  /* Styles for 15–16 inch laptops */
}

/* Media query for Laptops without numeric pad (typical width: around 13–14 inches, width range: 1200px to 1365px) */
@media only screen and (min-width: 1200px) and (max-width: 1365px) {
  /* Styles for laptops without numeric pad */
  #sec5-green-circle {
    top: 3600px;
  }
}

/* Media query for Tablets (width range: 768px to 1024px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Styles for tablets */
  #sec5-green-circle {
    top: 3360px;
  }
}

/* Media query for Mobile Phones (typical width: less than 768px) */
@media only screen and (max-width: 767px) {
  /* Styles for mobile phones */
  #section-5 {
    width: 100vw;
    height: 80vh;
  }

  .sec5-h1 h1 {
    margin-top: 130px;
    margin-left: 40px;
  }

  #sec5-green-circle {
    height: 500px;
    width: 300px;
    top: 4550px;
  }

  #sec5-green-circle img {
    height: 500px;
    width: 300px;
  }
  .imgContainer {
    display: flex;
    animation: scroll 20s ease-in-out infinite;
    transition: transform 0.5s ease;
  }

  /* Keyframes for sliding effect */
  @keyframes scroll {
    0%,
    100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-80%);
    }
  }

  /* Styling the images */
  .slide_div img {
    width: 250px;
    height: 150px;
    object-fit: cover;
    border: 1px solid white;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
}
/* Media query for iPhone 12 & samsung(typical width: less than 392px) */
@media only screen and (min-width: 360px) and (max-width: 720px) and (orientation: portrait) {
  /* Styles for  iphone 12 & samsung*/
  #section-5 {
    width: 100vw;
    height: 100vh;
  }
  #sec5-green-circle {
    height: 500px;
    width: 300px;
    top: 4350px;
  }
}
