<!-- ======================================================================= -->
<li
  value2="BIOLOGY1"
  id="BIOLOGY2"
  class="list-group-item lock"
  value="https://www.youtube.com/watch?v=1j__kdgocgs">
  Nutrition (unit-1) <i class="fa-solid fa-lock"></i>
</li>

<li value2="BIOLOGY2" id="BIOLOGY3" class="list-group-item lock">
  <a href="/courses/10th/Biology/BIOLOGY3" class="sub-list-a">
    test <i class="fa-solid fa-lock"></i>
  </a>
</li>

<li
  value2="BIOLOGY3"
  id="BIOLOGY4"
  class="list-group-item lock"
  value="https://www.youtube.com/watch?v=qL962CvqehE">
  Respiration (unit-2) <i class="fa-solid fa-lock"></i>
</li>

<li value2="BIOLOGY4" id="BIOLOGY5" class="list-group-item lock">
  <a href="/courses/10th/Biology/BIOLOGY5" class="sub-list-a">
    test <i class="fa-solid fa-lock"></i>
  </a>
</li>

<li
  value2="BIOLOGY5"
  id="BIOLOGY6"
  class="list-group-item lock"
  value="zpuQ8n0fcV4?si=yrfr4ZCym7EFCtwL">
  Transportation (unit-3) <i class="fa-solid fa-lock"></i>
</li>

<li value2="BIOLOGY6" id="BIOLOGY7" class="list-group-item lock">
  <a href="/courses/10th/Biology/BIOLOGY7" class="sub-list-a">
    test <i class="fa-solid fa-lock"></i>
  </a>
</li>

<li
  value2="BIOLOGY7"
  id="BIOLOGY8"
  class="list-group-item lock"
  value="QPjHCAHfjoU?si=sMbvjkR2jF8T9wrX">
  Excretion (unit-4)
  <i class="fa-solid fa-lock"></i>
</li>

<li value2="BIOLOGY8" id="BIOLOGY9" class="list-group-item lock">
  <a href="/courses/10th/Biology/BIOLOGY9" class="sub-list-a">
    test <i class="fa-solid fa-lock"></i>
  </a>
</li>

<li value2="BIOLOGY9" id="BIOLOGY10" class="list-group-item lock">
  Coordination (unit-5) <i class="fa-solid fa-lock"></i>
</li>

<li value2="BIOLOGY10" id="BIOLOGY11" class="list-group-item lock">
  <a href="/courses/10th/Biology/BIOLOGY11" class="sub-list-a">
    test <i class="fa-solid fa-lock"></i>
  </a>
</li>

<li value2="BIOLOGY11" id="BIOLOGY12" class="list-group-item lock">
  Reproduction (unit-6) <i class="fa-solid fa-lock"></i>
</li>

<li value2="BIOLOGY12" id="BIOLOGY13" class="list-group-item lock">
  <a href="/courses/10th/Biology/BIOLOGY13" class="sub-list-a">
    test <i class="fa-solid fa-lock"></i>
  </a>
</li>

<li value2="BIOLOGY13" id="BIOLOGY14" class="list-group-item lock">
  Coordination in life processes (unit-7) <i class="fa-solid fa-lock"></i>
</li>

<li value2="BIOLOGY14" id="BIOLOGY15" class="list-group-item lock">
  <a href="/courses/10th/Biology/BIOLOGY15" class="sub-list-a">
    test <i class="fa-solid fa-lock"></i>
  </a>
</li>

<li value2="BIOLOGY15" id="BIOLOGY16" class="list-group-item lock">
  Heredity (unit-8) <i class="fa-solid fa-lock"></i>
</li>

<li value2="BIOLOGY16" id="BIOLOGY17" class="list-group-item lock">
  <a href="/courses/10th/Biology/BIOLOGY17" class="sub-list-a">
    test <i class="fa-solid fa-lock"></i>
  </a>
</li>

<li value2="BIOLOGY17" id="BIOLOGY18" class="list-group-item lock">
  Our environment (unit-9) <i class="fa-solid fa-lock"></i>
</li>

<li value2="BIOLOGY18" id="BIOLOGY19" class="list-group-item lock">
  <a href="/courses/10th/Biology/BIOLOGY19" class="sub-list-a">
    test <i class="fa-solid fa-lock"></i>
  </a>
</li>

<li value2="BIOLOGY19" id="BIOLOGY20" class="list-group-item lock">
  Natural resources (unit-10) <i class="fa-solid fa-lock"></i>
</li>

<li value2="BIOLOGY20" id="BIOLOGY21" class="list-group-item lock">
  <a href="/courses/10th/Biology/BIOLOGY21" class="sub-list-a">
    test <i class="fa-solid fa-lock"></i>
  </a>
</li>
