<li
  value2="MATHS1"
  id="MATHS2"
  class="list-group-item lock"
  value="https://www.youtube.com/watch?v=1j__kdgocgs">
  Real Numbers (unit-1) <i class="fa-solid fa-lock"></i>
</li>

<li value2="MATHS2" id="MATHS3" class="list-group-item lock">
  <a href="/courses/10th/Mathematics/MATHS3" class="sub-list-a">
    test <i class="fa-solid fa-lock"></i>
  </a>
</li>

<li
  value2="MATHS3"
  id="MATHS4"
  class="list-group-item lock"
  value="https://www.youtube.com/watch?v=qL962CvqehE">
  Sets (unit-2) <i class="fa-solid fa-lock"></i>
</li>

<li value2="MATHS4" id="MATHS5" class="list-group-item lock">
  <a href="/courses/10th/Mathematics/MATHS5" class="sub-list-a">
    test <i class="fa-solid fa-lock"></i>
  </a>
</li>

<li
  value2="MATHS5"
  id="MATHS6"
  class="list-group-item lock"
  value="zpuQ8n0fcV4?si=yrfr4ZCym7EFCtwL">
  Polynomials (unit-3) <i class="fa-solid fa-lock"></i>
</li>

<li value2="MATHS6" id="MATHS7" class="list-group-item lock">
  <a href="/courses/10th/Mathematics/MATHS7" class="sub-list-a">
    test <i class="fa-solid fa-lock"></i>
  </a>
</li>

<li
  value2="MATHS7"
  id="MATHS8"
  class="list-group-item lock"
  value="QPjHCAHfjoU?si=sMbvjkR2jF8T9wrX">
  Pair of Linear Equations in Two Variables (unit-4)
  <i class="fa-solid fa-lock"></i>
</li>

<li value2="MATHS8" id="MATHS9" class="list-group-item lock">
  <a href="/courses/10th/Mathematics/MATHS9" class="sub-list-a">
    test <i class="fa-solid fa-lock"></i>
  </a>
</li>

<li value2="MATHS9" id="MATHS10" class="list-group-item lock">
  Quadratic Equations (unit-5) <i class="fa-solid fa-lock"></i>
</li>

<li value2="MATHS10" id="MATHS11" class="list-group-item lock">
  <a href="/courses/10th/Mathematics/MATHS11" class="sub-list-a">
    test <i class="fa-solid fa-lock"></i>
  </a>
</li>

<li value2="MATHS11" id="MATHS12" class="list-group-item lock">
  Progressions (unit-6) <i class="fa-solid fa-lock"></i>
</li>

<li value2="MATHS12" id="MATHS13" class="list-group-item lock">
  <a href="/courses/10th/Mathematics/MATHS13" class="sub-list-a">
    test <i class="fa-solid fa-lock"></i>
  </a>
</li>

<li value2="MATHS13" id="MATHS14" class="list-group-item lock">
  Coordinate Geometry (unit-7) <i class="fa-solid fa-lock"></i>
</li>

<li value2="MATHS14" id="MATHS15" class="list-group-item lock">
  <a href="/courses/10th/Mathematics/MATHS15" class="sub-list-a">
    test <i class="fa-solid fa-lock"></i>
  </a>
</li>

<li value2="MATHS15" id="MATHS16" class="list-group-item lock">
  Similar Triangles (unit-8) <i class="fa-solid fa-lock"></i>
</li>

<li value2="MATHS16" id="MATHS17" class="list-group-item lock">
  <a href="/courses/10th/Mathematics/MATHS17" class="sub-list-a">
    test <i class="fa-solid fa-lock"></i>
  </a>
</li>

<li value2="MATHS17" id="MATHS18" class="list-group-item lock">
  Tangents and Secants to a Circle (unit-9) <i class="fa-solid fa-lock"></i>
</li>

<li value2="MATHS18" id="MATHS19" class="list-group-item lock">
  <a href="/courses/10th/Mathematics/MATHS19" class="sub-list-a">
    test <i class="fa-solid fa-lock"></i>
  </a>
</li>

<li value2="MATHS19" id="MATHS20" class="list-group-item lock">
  Mensuration (unit-10) <i class="fa-solid fa-lock"></i>
</li>

<li value2="MATHS20" id="MATHS21" class="list-group-item lock">
  <a href="/courses/10th/Mathematics/MATHS21" class="sub-list-a">
    test <i class="fa-solid fa-lock"></i>
  </a>
</li>

<li value2="MATHS21" id="MATHS22" class="list-group-item lock">
  Trigonometry (unit-11) <i class="fa-solid fa-lock"></i>
</li>

<li value2="MATHS22" id="MATHS23" class="list-group-item lock">
  <a href="/courses/10th/Mathematics/MATHS23" class="sub-list-a">
    test <i class="fa-solid fa-lock"></i>
  </a>
</li>

<li value2="MATHS23" id="MATHS24" class="list-group-item lock">
  Applications of Trigonometry (unit-12) <i class="fa-solid fa-lock"></i>
</li>

<li value2="MATHS24" id="MATHS25" class="list-group-item lock">
  <a href="/courses/10th/Mathematics/MATHS25" class="sub-list-a">
    test <i class="fa-solid fa-lock"></i>
  </a>
</li>

<li value2="MATHS25" id="MATHS26" class="list-group-item lock">
  Probability (unit-13) <i class="fa-solid fa-lock"></i>
</li>

<li value2="MATHS26" id="MATHS27" class="list-group-item lock">
  <a href="/courses/10th/Mathematics/MATHS27" class="sub-list-a">
    test <i class="fa-solid fa-lock"></i>
  </a>
</li>

<li value2="MATHS27" id="MATHS28" class="list-group-item lock">
  Statistics (unit-14) <i class="fa-solid fa-lock"></i>
</li>

<li value2="MATHS28" id="MATHS29" class="list-group-item lock">
  <a href="/courses/10th/Mathematics/MATHS29" class="sub-list-a">
    test <i class="fa-solid fa-lock"></i>
  </a>
</li>
