<li
  id="MATHS2"
  class="list-group-item"
  value="https://www.youtube.com/watch?v=1j__kdgocgs">
  Real Numbers (unit-1) <i class="fa-solid fa-lock"></i>
</li>

<a href="/courses/10th/Mathematics/MATHS3" class="sub-list-a">
  <li id="MATHS3" class="list-group-item" value="abcd">
    test <i class="fa-solid fa-lock"></i>
  </li>
</a>

<li
  id="MATHS4"
  class="list-group-item"
  value="https://www.youtube.com/watch?v=qL962CvqehE">
  Sets (unit-2) <i class="fa-solid fa-lock"></i>
</li>

<a href="/courses/10th/Mathematics/MATHS5" class="sub-list-a">
  <li id="MATHS5" class="list-group-item" value="abcd">
    test <i class="fa-solid fa-lock"></i>
  </li>
</a>

<li id="MATHS6" class="list-group-item" value="zpuQ8n0fcV4?si=yrfr4ZCym7EFCtwL">
  Polynomials (unit-3) <i class="fa-solid fa-lock"></i>
</li>

<a href="/courses/10th/Mathematics/MATHS7" class="sub-list-a">
  <li id="MATHS7" class="list-group-item" value="abcd">
    test <i class="fa-solid fa-lock"></i>
  </li>
</a>

<li id="MATHS8" class="list-group-item" value="QPjHCAHfjoU?si=sMbvjkR2jF8T9wrX">
  Pair of Linear Equations in Two Variables (unit-4)
  <i class="fa-solid fa-lock"></i>
</li>

<a href="/courses/10th/Mathematics/MATHS9" class="sub-list-a">
  <li id="MATHS9" class="list-group-item" value="abcd">
    test <i class="fa-solid fa-lock"></i>
  </li>
</a>

<li id="MATHS10" class="list-group-item" value="abcd">
  Quadratic Equations (unit-5) <i class="fa-solid fa-lock"></i>
</li>

<a href="/courses/10th/Mathematics/MATHS11" class="sub-list-a">
  <li id="MATHS11" class="list-group-item" value="abcd">
    test <i class="fa-solid fa-lock"></i>
  </li>
</a>

<li id="MATHS12" class="list-group-item" value="abcd">
  Progressions (unit-6) <i class="fa-solid fa-lock"></i>
</li>

<a href="/courses/10th/Mathematics/MATHS13" class="sub-list-a">
  <li id="MATHS13" class="list-group-item" value="abcd">
    test <i class="fa-solid fa-lock"></i>
  </li>
</a>

<li id="MATHS14" class="list-group-item" value="abcd">
  Coordinate Geometry (unit-7) <i class="fa-solid fa-lock"></i>
</li>

<a href="/courses/10th/Mathematics/MATHS15" class="sub-list-a">
  <li id="MATHS15" class="list-group-item" value="abcd">
    test <i class="fa-solid fa-lock"></i>
  </li>
</a>

<li id="MATHS16" class="list-group-item" value="abcd">
  Similar Triangles (unit-8) <i class="fa-solid fa-lock"></i>
</li>

<a href="/courses/10th/Mathematics/MATHS17" class="sub-list-a">
  <li id="MATHS17" class="list-group-item" value="abcd">
    test <i class="fa-solid fa-lock"></i>
  </li>
</a>

<li id="MATHS18" class="list-group-item" value="abcd">
  Tangents and Secants to a Circle (unit-9) <i class="fa-solid fa-lock"></i>
</li>

<a href="/courses/10th/Mathematics/MATHS19" class="sub-list-a">
  <li id="MATHS19" class="list-group-item" value="abcd">
    test <i class="fa-solid fa-lock"></i>
  </li>
</a>

<li id="MATHS20" class="list-group-item" value="abcd">
  Mensuration (unit-10) <i class="fa-solid fa-lock"></i>
</li>

<a href="/courses/10th/Mathematics/MATHS21" class="sub-list-a">
  <li id="MATHS21" class="list-group-item" value="abcd">
    test <i class="fa-solid fa-lock"></i>
  </li>
</a>

<li id="MATHS22" class="list-group-item" value="abcd">
  Trigonometry (unit-11) <i class="fa-solid fa-lock"></i>
</li>

<a href="/courses/10th/Mathematics/MATHS23" class="sub-list-a">
  <li id="MATHS23" class="list-group-item" value="abcd">
    test <i class="fa-solid fa-lock"></i>
  </li>
</a>

<li id="MATHS24" class="list-group-item" value="abcd">
  Applications of Trigonometry (unit-12) <i class="fa-solid fa-lock"></i>
</li>

<a href="/courses/10th/Mathematics/MATHS25" class="sub-list-a">
  <li id="MATHS25" class="list-group-item" value="abcd">
    test <i class="fa-solid fa-lock"></i>
  </li>
</a>

<li id="MATHS26" class="list-group-item" value="abcd">
  Probability (unit-13) <i class="fa-solid fa-lock"></i>
</li>

<a href="/courses/10th/Mathematics/MATHS27" class="sub-list-a">
  <li id="MATHS27" class="list-group-item" value="abcd">
    test <i class="fa-solid fa-lock"></i>
  </li>
</a>

<li id="MATHS28" class="list-group-item" value="abcd">
  Statistics (unit-14) <i class="fa-solid fa-lock"></i>
</li>

<a href="/courses/10th/Mathematics/MATHS28" class="sub-list-a">
  <li id="MATHS28" class="list-group-item" value="abcd">
    test <i class="fa-solid fa-lock"></i>
  </li>
</a>
