<li
  id="MATHS1"
  class="list-group-item"
  value="https://www.youtube.com/watch?v=1j__kdgocgs">
  Real Numbers (unit-1) <i class="fa-solid fa-lock"></i>
</li>

<a href="/courses/10th/Mathematics/mtest1" class="sub-list-a">
  <li id="TEST1" class="list-group-item" value="abcd">
    test <i class="fa-solid fa-lock"></i>
  </li>
</a>

<li
  id="MATHS2"
  class="list-group-item"
  value="https://www.youtube.com/watch?v=qL962CvqehE">
  Sets (unit-2) <i class="fa-solid fa-lock"></i>
</li>

<a href="/courses/10th/Mathematics/mtest2" class="sub-list-a">
  <li id="TEST2" class="list-group-item" value="abcd">
    test <i class="fa-solid fa-lock"></i>
  </li>
</a>

<li id="MATHS3" class="list-group-item" value="zpuQ8n0fcV4?si=yrfr4ZCym7EFCtwL">
  Polynomials (unit-3) <i class="fa-solid fa-lock"></i>
</li>

<a href="/courses/10th/Mathematics/mtest3" class="sub-list-a">
  <li id="TEST3" class="list-group-item" value="abcd">
    test <i class="fa-solid fa-lock"></i>
  </li>
</a>

<li id="MATHS4" class="list-group-item" value="QPjHCAHfjoU?si=sMbvjkR2jF8T9wrX">
  Pair of Linear Equations in Two Variables (unit-4)
  <i class="fa-solid fa-lock"></i>
</li>

<a href="/courses/10th/Mathematics/mtest4" class="sub-list-a">
  <li id="TEST4" class="list-group-item" value="abcd">
    test <i class="fa-solid fa-lock"></i>
  </li>
</a>

<li id="MATHS5" class="list-group-item" value="abcd">
  Quadratic Equations (unit-5) <i class="fa-solid fa-lock"></i>
</li>

<a href="/courses/10th/Mathematics/mtest5" class="sub-list-a">
  <li id="TEST5" class="list-group-item" value="abcd">
    test <i class="fa-solid fa-lock"></i>
  </li>
</a>

<li id="MATHS6" class="list-group-item" value="abcd">
  Progressions (unit-6) <i class="fa-solid fa-lock"></i>
</li>

<a href="/courses/10th/Mathematics/mtest6" class="sub-list-a">
  <li id="TEST6" class="list-group-item" value="abcd">
    test <i class="fa-solid fa-lock"></i>
  </li>
</a>

<li id="MATHS7" class="list-group-item" value="abcd">
  Coordinate Geometry (unit-7) <i class="fa-solid fa-lock"></i>
</li>

<a href="/courses/10th/Mathematics/mtest7" class="sub-list-a">
  <li id="TEST7" class="list-group-item" value="abcd">
    test <i class="fa-solid fa-lock"></i>
  </li>
</a>

<li id="MATHS8" class="list-group-item" value="abcd">
  Similar Triangles (unit-8) <i class="fa-solid fa-lock"></i>
</li>

<a href="/courses/10th/Mathematics/mtest8" class="sub-list-a">
  <li id="TEST8" class="list-group-item" value="abcd">
    test <i class="fa-solid fa-lock"></i>
  </li>
</a>

<li id="MATHS9" class="list-group-item" value="abcd">
  Tangents and Secants to a Circle (unit-9) <i class="fa-solid fa-lock"></i>
</li>

<a href="/courses/10th/Mathematics/mtest9" class="sub-list-a">
  <li id="TEST9" class="list-group-item" value="abcd">
    test <i class="fa-solid fa-lock"></i>
  </li>
</a>

<li id="MATHS10" class="list-group-item" value="abcd">
  Mensuration (unit-10) <i class="fa-solid fa-lock"></i>
</li>

<a href="/courses/10th/Mathematics/mtest10" class="sub-list-a">
  <li id="TEST10" class="list-group-ite testm" value="abcd">
    test <i class="fa-solid fa-lock"></i>
  </li>
</a>

<li id="MATHS11" class="list-group-item" value="abcd">
  Trigonometry (unit-11) <i class="fa-solid fa-lock"></i>
</li>

<a href="/courses/10th/Mathematics/mtest11" class="sub-list-a">
  <li id="TEST11" class="list-group-ite testm" value="abcd">
    test <i class="fa-solid fa-lock"></i>
  </li>
</a>

<li id="MATHS12" class="list-group-item" value="abcd">
  Applications of Trigonometry (unit-12) <i class="fa-solid fa-lock"></i>
</li>

<a href="/courses/10th/Mathematics/mtest12" class="sub-list-a">
  <li id="TEST12" class="list-group-ite testm" value="abcd">
    test <i class="fa-solid fa-lock"></i>
  </li>
</a>

<li id="MATHS13" class="list-group-item" value="abcd">
  Probability (unit-13) <i class="fa-solid fa-lock"></i>
</li>

<a href="/courses/10th/Mathematics/mtest13" class="sub-list-a">
  <li id="TEST13" class="list-group-ite testm" value="abcd">
    test <i class="fa-solid fa-lock"></i>
  </li>
</a>

<li id="MATHS14" class="list-group-item" value="abcd">
  Statistics (unit-14) <i class="fa-solid fa-lock"></i>
</li>

<a href="/courses/10th/Mathematics/mtest14" class="sub-list-a">
  <li id="TEST14" class="list-group-ite testm" value="abcd">
    test <i class="fa-solid fa-lock"></i>
  </li>
</a>
