<li class="list-group-item" value="QptwLyh8XtQ?si=KywgUv0w_ylNtwa6">
  Reflection of light at curved surfaces (unit-1)
  <i class="fa-solid fa-lock-open"></i>
</li>

<a href="/courses/10th/Physics/ptest1" class="sub-list-a">
  <li class="list-group-item" aria-current="true">
    test <i class="fa-solid fa-lock-open"></i>
  </li>
</a>

<li class="list-group-item" value="YjG7gFe-R0Q?si=o64eQkDWo2nAXl6w">
  Chemical Equations (unit-2) <i class="fa-solid fa-lock"></i>
</li>

<a href="/courses/10th/Physics/ptest2" class="sub-list-a">
  <li class="list-group-item" value="abcd">
    test <i class="fa-solid fa-lock"></i>
  </li>
</a>

<li class="list-group-item" value="zpuQ8n0fcV4?si=yrfr4ZCym7EFCtwL">
  Acids, Bases and Salts (unit-3)
  <i class="fa-solid fa-lock"></i>
</li>

<a href="/courses/10th/Physics/ptest3" class="sub-list-a">
  <li class="list-group-item" value="abcd">
    test <i class="fa-solid fa-lock"></i>
  </li>
</a>

<li class="list-group-item" value="QPjHCAHfjoU?si=sMbvjkR2jF8T9wrX">
  Refraction of Light at Curved Surfaces (unit-4)
  <i class="fa-solid fa-lock"></i>
</li>

<a href="/courses/10th/Physics/ptest4" class="sub-list-a">
  <li class="list-group-item" value="abcd">
    test <i class="fa-solid fa-lock"></i>
  </li>
</a>

<li class="list-group-item" value="abcd">
  Human Eye and Colourful world (unit-5) <i class="fa-solid fa-lock"></i>
</li>

<a href="/courses/10th/Physics/ptest5" class="sub-list-a">
  <li class="list-group-item" value="abcd">
    test <i class="fa-solid fa-lock"></i>
  </li>
</a>

<li class="list-group-item" value="abcd">
  Structure of Atom (unit-6) <i class="fa-solid fa-lock"></i>
</li>

<a href="/courses/10th/Physics/ptest6" class="sub-list-a">
  <li class="list-group-item" value="abcd">
    test <i class="fa-solid fa-lock"></i>
  </li>
</a>

<li class="list-group-item" value="abcd">
  Classification of Elements-The Periodic Table(unit-7)
  <i class="fa-solid fa-lock"></i>
</li>

<a href="/courses/10th/Physics/ptest7" class="sub-list-a">
  <li class="list-group-item" value="abcd">
    test <i class="fa-solid fa-lock"></i>
  </li>
</a>

<li class="list-group-item" value="abcd">
  Chemical Bonding (unit-8) <i class="fa-solid fa-lock"></i>
</li>

<a href="/courses/10th/Physics/ptest8" class="sub-list-a">
  <li class="list-group-item" value="abcd">
    test <i class="fa-solid fa-lock"></i>
  </li>
</a>

<li class="list-group-item" value="abcd">
  Electric Current (unit-9) <i class="fa-solid fa-lock"></i>
</li>

<a href="/courses/10th/Physics/ptest9" class="sub-list-a">
  <li class="list-group-item" value="abcd">
    test <i class="fa-solid fa-lock"></i>
  </li>
</a>

<li class="list-group-item" value="abcd">
  Electromagnetism (unit-10) <i class="fa-solid fa-lock"></i>
</li>

<a href="/courses/10th/Physics/ptest10" class="sub-list-a">
  <li class="list-group-item" value="abcd">
    test <i class="fa-solid fa-lock"></i>
  </li>
</a>

<li class="list-group-item" value="abcd">
  Principles of Metallurgy (unit-11) <i class="fa-solid fa-lock"></i>
</li>

<a href="/courses/10th/Physics/ptest11" class="sub-list-a">
  <li class="list-group-item" value="abcd">
    test <i class="fa-solid fa-lock"></i>
  </li>
</a>

<li class="list-group-item" value="abcd">
  Carbon and its Compounds (unit-12) <i class="fa-solid fa-lock"></i>
</li>

<a href="/courses/10th/Physics/ptest12" class="sub-list-a">
  <li class="list-group-item" value="abcd">
    test <i class="fa-solid fa-lock"></i>
  </li>
</a>
