<!-- ======================================================================= -->
<li
  value2="PHYSICS1"
  id="PHYSICS2"
  class="list-group-item lock"
  value="https://www.youtube.com/watch?v=1j__kdgocgs">
  Reflection of light at curved surfaces (unit-1)
  <i class="fa-solid fa-lock"></i>
</li>

<li value2="PHYSICS2" id="PHYSICS3" class="list-group-item lock">
  <a href="/courses/10th/Physics/PHYSICS3" class="sub-list-a">
    test <i class="fa-solid fa-lock"></i>
  </a>
</li>

<li
  value2="PHYSICS3"
  id="PHYSICS4"
  class="list-group-item lock"
  value="https://www.youtube.com/watch?v=qL962CvqehE">
  Chemical Equations (unit-2)<i class="fa-solid fa-lock"></i>
</li>

<li value2="PHYSICS4" id="PHYSICS5" class="list-group-item lock">
  <a href="/courses/10th/Physics/PHYSICS5" class="sub-list-a">
    test <i class="fa-solid fa-lock"></i>
  </a>
</li>

<li
  value2="PHYSICS5"
  id="PHYSICS6"
  class="list-group-item lock"
  value="zpuQ8n0fcV4?si=yrfr4ZCym7EFCtwL">
  Acids, Bases and Salts (unit-3) <i class="fa-solid fa-lock"></i>
</li>

<li value2="PHYSICS6" id="PHYSICS7" class="list-group-item lock">
  <a href="/courses/10th/Physics/PHYSICS7" class="sub-list-a">
    test <i class="fa-solid fa-lock"></i>
  </a>
</li>

<li
  value2="PHYSICS7"
  id="PHYSICS8"
  class="list-group-item lock"
  value="QPjHCAHfjoU?si=sMbvjkR2jF8T9wrX">
  Refraction of Light at Curved Surfaces (unit-4)
  <i class="fa-solid fa-lock"></i>
</li>

<li value2="PHYSICS8" id="PHYSICS9" class="list-group-item lock">
  <a href="/courses/10th/Physics/PHYSICS9" class="sub-list-a">
    test <i class="fa-solid fa-lock"></i>
  </a>
</li>

<li value2="PHYSICS9" id="PHYSICS10" class="list-group-item lock">
  Human Eye and Colourful world (unit-5) <i class="fa-solid fa-lock"></i>
</li>

<li value2="PHYSICS10" id="PHYSICS11" class="list-group-item lock">
  <a href="/courses/10th/Physics/PHYSICS11" class="sub-list-a">
    test <i class="fa-solid fa-lock"></i>
  </a>
</li>

<li value2="PHYSICS11" id="PHYSICS12" class="list-group-item lock">
  Structure of Atom (unit-6) <i class="fa-solid fa-lock"></i>
</li>

<li value2="PHYSICS12" id="PHYSICS13" class="list-group-item lock">
  <a href="/courses/10th/Physics/PHYSICS13" class="sub-list-a">
    test <i class="fa-solid fa-lock"></i>
  </a>
</li>

<li value2="PHYSICS13" id="PHYSICS14" class="list-group-item lock">
  Classification of Elements-The Periodic Table(unit-7)
  <i class="fa-solid fa-lock"></i>
</li>

<li value2="PHYSICS14" id="PHYSICS15" class="list-group-item lock">
  <a href="/courses/10th/Physics/PHYSICS15" class="sub-list-a">
    test <i class="fa-solid fa-lock"></i>
  </a>
</li>

<li value2="PHYSICS15" id="PHYSICS16" class="list-group-item lock">
  Chemical Bonding (unit-8) <i class="fa-solid fa-lock"></i>
</li>

<li value2="PHYSICS16" id="PHYSICS17" class="list-group-item lock">
  <a href="/courses/10th/Physics/PHYSICS17" class="sub-list-a">
    test <i class="fa-solid fa-lock"></i>
  </a>
</li>

<li value2="PHYSICS17" id="PHYSICS18" class="list-group-item lock">
  Electric Current (unit-9) <i class="fa-solid fa-lock"></i>
</li>

<li value2="PHYSICS18" id="PHYSICS19" class="list-group-item lock">
  <a href="/courses/10th/Physics/PHYSICS19" class="sub-list-a">
    test <i class="fa-solid fa-lock"></i>
  </a>
</li>

<li value2="PHYSICS19" id="PHYSICS20" class="list-group-item lock">
  Electromagnetism (unit-10) <i class="fa-solid fa-lock"></i>
</li>

<li value2="PHYSICS20" id="PHYSICS21" class="list-group-item lock">
  <a href="/courses/10th/Physics/PHYSICS21" class="sub-list-a">
    test <i class="fa-solid fa-lock"></i>
  </a>
</li>

<li value2="PHYSICS21" id="PHYSICS22" class="list-group-item lock">
  Principles of Metallurgy (unit-11)<i class="fa-solid fa-lock"></i>
</li>

<li value2="PHYSICS22" id="PHYSICS23" class="list-group-item lock">
  <a href="/courses/10th/Physics/PHYSICS23" class="sub-list-a">
    test <i class="fa-solid fa-lock"></i>
  </a>
</li>

<li value2="PHYSICS23" id="PHYSICS24" class="list-group-item lock">
  Carbon and its Compounds (unit-12) <i class="fa-solid fa-lock"></i>
</li>

<li value2="PHYSICS24" id="PHYSICS25" class="list-group-item lock">
  <a href="/courses/10th/Physics/PHYSICS25" class="sub-list-a">
    test <i class="fa-solid fa-lock"></i>
  </a>
</li>
